[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
selenium = "*"
requests = "*"
pymysql = "*"
beautifulsoup4 = "*"
lxml = "*"
js2py = "*"
scrapy = "*"
scrapyd-client = "*"
Faker = "*"
[requires]
python_version = "3.8"
